{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Добро пожаловать в генератор заданий {% endblock %}</h1>


<ol>
    <li><a href="{{ url_for('random_letters')}}">Расположить буквы в словах в случайном порядке</a></li>
    <li><a href="{{ url_for('index')}}">Заменить часть букв нижним подчеркиванием</a></h2>
    <li><a href="{{ url_for('index')}}">Пропустить определенные буквы в слове</a></h2>
    <li><a href="{{ url_for('index')}}">Сопоставить слова</a></h2>
    <li><a href="{{ url_for('index')}}">Расположить слова в предложении в случайном порядке</a></h2>
    <li><a href="{{ url_for('index')}}">Расположить предложения в случайном порядке</a></h2>
    <li><a href="{{ url_for('index')}}">Выбрать глаголы из списка</a></h2>
    <li><a href="{{ url_for('index')}}">Пропустить слова в предложении</a></h2>
</ol>


{% endblock %}